<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
      integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
      crossorigin="anonymous"
    />
  </head>
  <body
    style="font-family:Arial;width:100%;box-sizing:border-box;
              margin:0px;padding:0px;overflow-x:hidden"
    class="container-fluid"
  >
    <div class="CUA_SO_PET" style="background-color:aliceblue;margin:10px">
      <div class="btn PET" style="margin-left:0px">
        <img src="/img/PET.png" style="width:40px;height:30px;" />
        <div class="btn TOM_TAT" style="color:blue;text-align:center">
          Mô hình - Công nghệ - Kỹ thuật
          <br /><b><i>Đơn giản</i></b>
        </div>
      </div>
      <div
        class="btn btn-outline-primary"
        style="background-color:white;color:blue"
      >
        Bán Tivi
        <br />
        <%=Header%>
      </div>
    </div>
    <div class="CUA_SO_CHUC_NANG" style="background-color:gray;margin:10px">
      <div class="DANH_SACH_CHUC_NANG">
        <div class="btn  CHUC_NANG">
          <form method="post">
            <input name="functionCode" type="hidden" value="SearchByName" />
            <input
              name="keyword"
              style="height:30px"
              placeholder="Tên"
              spellcheck="false"
              autocomplete="off"
            />
          </form>
        </div>
        <div class="btn  CHUC_NANG">
          <form method="post">
            <input name="functionCode" type="hidden" value="SearchByPrice" />
            <input
              name="price"
              type="number"
              min="1000000"
              style="height:30px"
              placeholder="Đơn giá bán"
              spellcheck="false"
              autocomplete="off"
            />
          </form>
        </div>
        <div class="btn  CHUC_NANG">
          <%-TvGroupList%>
        </div>
      </div>
    </div>
    <div class="CUA_SO_KET_QUA" style="background-color:white;margin:10px">
      <%-Notification%> <%-TvList%>
    </div>
  </body>
</html>
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
  integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
  integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
  crossorigin="anonymous"
></script>
